<!DOCTYPE html>
<html>
  <head> </head>
  <body>
  <div class="main-page">
    <%= image_tag("martini.png", alt: "martini", class: "style_image") %>
    <div class="breaks"</div>
      <h2> MOMMY DATES </h2>
      <h3> "...Because the dating never stops" </h3>
  </div>
  </body>
