
<div class="row container">
  <div class="columns large-6 small-12">
      <div id="Events">
        <h3> Events in Your Area </h3>

        <ul>
          <li><%= link_to  %>
        </ul>

      </div>
  </div>
</div>
