/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
   font-family: Arial, "Questrial", sans-serif;
   background-image: url("/assets/sparkles.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   font-size: 150%;
  }

  .top-bar-right {
    padding-right: 10px;
  }

  #search {
    width: auto;
  }


  #error_explanation li {
    color: red;
  }

  #error_explanation {
    color: red;
  }

  .sign_up_form {
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .edit_form {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #edit-page {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
  }

  #edit-image {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .userinfo {
    padding-right: 20px;
  }

  #search-form {
    background-image: url('martini.png');
  }

  #Events {
    padding-right: 300px;
    padding-top: 50px;

  }
