
.breaks {
  padding-bottom: 30px;

}

.style_image {
  width: 10%;
  height: 10%;
  display: block;
  float: right;
  margin-top: 15%;

}

h2 {

  color: #ff0066;
  padding: 20%;
  font-size: 80pt;
  text-align: center;

}

h3 {

  font-size: 300%;
  float: right;
}
