
.breaks {
  padding-bottom: 30px;

}

.style_image {
  width: 10%;
  height: 10%;
  display: block;
  float: right;
  margin-top: 15%;

}

h2 {

  color: #ff0066;
  padding: 20%;
  font-size: 80pt;
  text-align: center;

}

h3 {

  font-size: 300%;
  float: right;
}


.sign-background {

  background-image: url("sparkles.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 150%;

}


input[type=submit] {

  background-color: #ff0066;
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 4px 2px;
}

input[type=text] {

  margin: auto;

}
