<!DOCTYPE html>
  <html>
    <head>
      <title>MommyDates</title>
    <body>

      <div class="row container"
        <div class="columns large-6 small-12">
          <% if notice %>
            <p class="alert alert-success" id="errors"><%= notice %></p>
            <% end %>
            <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
            <% end %>
        </div>
      </div>
        <%= yield %>
    </body>
  </html>
